/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-info{
  background-color: #009999;
  border-color: #99cccc;
}

.middle {
  padding-bottom: 10px;
}

hr {
  padding-bottom: 10px;
}

h4.feat {
  color: #000000;
  padding-top: 10px;
}

h3.feat {
  background-color: #000000;
  padding: 12px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 25px;
}

p.main{
  padding-top: 10px;
  font-size: 18px;
}

p.lead {
  padding-top: 10px;
  font-size: 14px;
  color: #000000;
}

p.howto{
  padding-left: 10px;
  padding-top: 10px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #000000 !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

img.icon {
  padding-bottom: 15px;
  height: 120;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.feature {
  text-align: center;
}

.row {
  margin-bottom: 25px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px;
  background-color: #ffffff;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
